<div class="absolute z-10" id="mainNav">
    <div class=" flex items-center justify-end w-screen">
        <div style="background-image: url('assets/images/ricepaper.png');" class="lg:hidden mr-10">
            <i class="fas fa-caret-down text-3xl p-4"></i>
        </div>
    </div>
    <!-- QUITAR CLASE IRREGULAR FORM SOLO PONER EN TAMAÑO LG PONER TAMBIÉN EL HOVER, AÑADIR LA ACCIÓN DE COLAPSAR -->

    <div class="flex flex-col lg:flex-row justify-center items-center lg:justify-around">
        <div style="background-image: url('assets/images/ricepaper.png');" class="irregularform3 flex items-center justify-center p-4  shadow w-2/3 my-2 lg:my-0 lg:m-0 lg:w-48">
            <p class="fontRhodium text-xl p-2 border-dashed border-t-2 border-b-2 border-black">Sobre mí</p>
        </div>
        <div style="background-image: url('assets/images/ricepaper.png');" class="irregularform2 flex items-center justify-center p-4 shadow w-2/3 my-2 lg:my-0 lg:m-0 lg:w-48">
            <p class="fontRhodium text-xl ">Trabajos</p>
        </div>
        <div style="background-image: url('assets/images/ricepaper.png');" class="irregularform1 flex items-center justify-center p-4 shadow w-2/3 my-2 lg:my-0 lg:m-0 lg:w-48">
            <p class="fontRhodium text-xl  ">Otras cosas</p>
        </div>
    </div>
</div>