<!-- <div class="flex p-10  bg-no-repeat bg-cover justify-evenly items-end h-30vh" style="background-image: url('assets/images/board.jpg')">
    <div class=" flex justify-center w-1/6 " style="background-image: url('assets/images/ricepaper.png')">
        <img src="/assets/images/profile.jpg" alt="profile photo Espe" width="100%" class="py-6 px-4 object-contain">
    </div>
    <div class=" flex align-baseline w-4/6 h-full ">
        <h3 class="fontRhodium text-white text-xl">Hola! <br> Mi nombre es Esperanza y soy programadora web. ¡Gracias por pasarte por aquí! Espero que con tu visita consiga enseñarte un poquito de mí y de mi trabajo. </h3>
    </div>

</div>
 -->
<div class="bg-red-200 flex h-20">
    <div class="bg-green-300 h-10">
        <h1>soe</h1>
    </div>
    <div class=" h-10">
        <h1 class="bg-blue-300">quetla</h1>
    </div>
</div>
