<div class="lg:h-full bg-repeat bg-center" style="background-image: url('assets/images/paperBoxtexture.jpg')">
    <div class="h-full fontRhodium lg:h-full bg-contain pb-10 " style="background-image: url('assets/images/dotsPattern.png')">
        <app-navbar></app-navbar>
        <div class="lg:h-50 flex flex-col items-center justify-center">
            <div class="w-1/2 h-48 bg-repeat bg-center shadow-lg" style="background-image: url('assets/images/ricepaper.png')">
                <h1 class="p-10 text-4xl">Próximamente...</h1>

            </div>
        </div>

    </div>
</div>
