<!-- <div style="background-image: url('assets/images/dotsPattern.png')" class="flex bg-repeat bg-center h-70vh bg-brown">
    <div class="flex flex-col justify-evenly w-1/6 pl-10 ">
        <div class="rounded-full h-24 w-24 flex items-center justify-center" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/cvIcon.svg" alt="Currículum" class="p-4 " width="100px">
        </div>
        <div class="rounded-full h-24 w-24 flex items-center justify-center bg-center bg-repeat" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/contactIcon.svg" alt="Currículum" class="p-4" width="100px">
        </div>
        <div class="rounded-full h-24 w-24 flex items-center justify-center bg-center bg-repeat" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/correoIcon.svg" alt="Currículum" class="p-4" width="100px">
        </div>
    </div>
    <div style="background-image: url('assets/images/ricepaper.png')" class=" w-5/6 bg-cover m-10 pt-2 px-16 flex flex-col justify-center bg-center bg-repeat ">
        <p class="fontRhodium pb-4 text-left">Me presento, soy Esperanza, veterinaria y desarrolladora web, si , has leído bien. Por que nunca es tarde para aprender y sobre todo algo que te apasiona. Además, lo único que cambia es el conocimiento, las aptitudes son las mismas. En veterinaria
            tenía que trabajar tanto en equipo como de forma autónoma, ser ordenada y metódica, resolver casos de forma rápida y precisa, lidiar con clientes, asumir grandes responsabilidades, gestionar el tiempo y estar en continuo aprendizaje siempre.
            ¿Encuentra alguna diferencia con otros cargos profesionales?. La veterinaria siempre me gustará pero lo tendré como hobby y algo que podré comentar y hablar con mis compañeros.
        </p>
        <p class="fontRhodium pb-4 text-left">Ahora estoy encantada desarrollando proyectos web, aprendiendo nuevos frameworks y asentando conceptos. Creo que no tener un origen tecnológico es lo que me motiva a esforzarme mucho más y mantenerme actualizada constantemente.
        </p>
        <p class="fontRhodium pb-4 text-left">Tengo experiencia con HTML, CSS, JavaScript, VueJS, NodeJs, Express, NoSQL . Actualmente profundizando en Angular.</p>
    </div>
</div>
 -->
