<!-- <div style="background-image: url('assets/images/dotsPattern.png')" class="flex bg-repeat bg-center h-70vh bg-brown">
    <div class="flex flex-col justify-evenly w-1/6 pl-10 ">
        <div class="rounded-full h-24 w-24 flex items-center justify-center" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/cvIcon.svg" alt="Currículum" class="p-4 " width="100px">
        </div>
        <div class="rounded-full h-24 w-24 flex items-center justify-center bg-center bg-repeat" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/contactIcon.svg" alt="Currículum" class="p-4" width="100px">
        </div>
        <div class="rounded-full h-24 w-24 flex items-center justify-center bg-center bg-repeat" style="background-image: url('assets/images/ricepaper.png')">
            <img src="assets/images/correoIcon.svg" alt="Currículum" class="p-4" width="100px">
        </div>
    </div>
    <div style="background-image: url('assets/images/ricepaper.png')" class=" w-5/6 bg-cover m-10 pt-2 px-16 flex flex-col justify-center bg-center bg-repeat ">
        <p class="fontRhodium pb-4 text-left">Me presento, soy Esperanza, veterinaria y desarrolladora web, si , has leído bien. Por que nunca es tarde para aprender y sobre todo algo que te apasiona. Además, lo único que cambia es el conocimiento, las aptitudes son las mismas. En veterinaria
            tenía que trabajar tanto en equipo como de forma autónoma, ser ordenada y metódica, resolver casos de forma rápida y precisa, lidiar con clientes, asumir grandes responsabilidades, gestionar el tiempo y estar en continuo aprendizaje siempre.
            ¿Encuentra alguna diferencia con otros cargos profesionales?. La veterinaria siempre me gustará pero lo tendré como hobby y algo que podré comentar y hablar con mis compañeros.
        </p>
        <p class="fontRhodium pb-4 text-left">Ahora estoy encantada desarrollando proyectos web, aprendiendo nuevos frameworks y asentando conceptos. Creo que no tener un origen tecnológico es lo que me motiva a esforzarme mucho más y mantenerme actualizada constantemente.
        </p>
        <p class="fontRhodium pb-4 text-left">Tengo experiencia con HTML, CSS, JavaScript, VueJS, NodeJs, Express, NoSQL . Actualmente profundizando en Angular.</p>
    </div>
</div>
 -->
<!-- QUITAR EL MT-96 CUANDO LA VARIABLE OPENMENU SEA FALSA -->
<div class="lg:h-full bg-repeat bg-center" style="background-image: url('assets/images/paperBoxtexture.jpg')">
    <div class="lg:h-full   bg-contain bg-opacity-100" style="background-image: url('assets/images/dotsPattern.png')">
        <app-navbar></app-navbar>

        <!-- <div class="h-6 w-auto bg-black bg-opacity-25 top-0"></div> -->
        <div class="lg:h-full flex flex-col lg:flex-row justify-evenly items-center lg:mt-0">
            <div class="flex flex-row lg:h-vh w-full lg:w-auto justify-evenly mb-6 lg:mb-0 lg:h-64 lg:flex-col">
                <a class="p-4 rounded-full h-24 w-24 flex items-center justify-center cursor-pointer" *ngFor="let tab of tabs" style="background-image: url('assets/images/ricepaper.png')">
                    <i (click)="currentTab=tab.name" [class]="tab.icon" [ngClass]="{'bg-yellowmarker': currentTab ===tab.name}" class="text-4xl p-4 rounded-full border-dashed border hover:border-black"></i>
                </a>
            </div>
            <div class="bg-repeat bg-center px-8 py-8 px-6 mx-10 mb-10 lg:mx-0 lg:w-9/12 lg:px-16" style="background-image: url('assets/images/ricepaper.png')">
                <div *ngIf="currentTab === 'tab1'">
                    <h1 class="fontRhodium text-2xl  pt-2  font-semibold">Quien soy:</h1>
                    <h3 class="fontRhodium text-lg pt-2">
                        Me presento, soy Esperanza, veterinaria y desarrolladora web, si , has leído bien. Por que nunca es tarde para aprender y sobre todo algo que te apasiona. Además, lo único que cambia es el conocimiento, las aptitudes son las mismas. En veterinaria tenía
                        que trabajar tanto en equipo como de forma autónoma, ser ordenada y metódica, resolver casos de forma rápida y precisa, lidiar con clientes, asumir grandes responsabilidades, gestionar el tiempo y estar en continuo aprendizaje
                        siempre. ¿Encuentra alguna diferencia con otros cargos profesionales?. La veterinaria siempre me gustará pero lo tendré como hobby y algo que podré comentar y hablar con mis compañeros.
                    </h3>
                    <h3 class="fontRhodium text-lg pt-4">
                        Ahora estoy encantada desarrollando proyectos web, aprendiendo nuevos frameworks y asentando conceptos. Creo que no tener un origen tecnológico es lo que me motiva a esforzarme mucho más y mantenerme actualizada constantemente. <br
                        />
                        <br /> Tengo experiencia con HTML, CSS, JavaScript, VueJS, NodeJs, Express, NoSQL . Actualmente profundizando en Angular.
                    </h3>
                </div>
                <div *ngIf="currentTab === 'tab2'">
                    <h1 class="fontRhodium text-2xl  pt-2  font-semibold">Conocimientos:</h1>
                    <div class="flex justify-around">
                        <ul class="fontRhodium text-lg pt-2">
                            <h2 class="fontRhodium text-2xl  pt-2  font-medium">Frotend:</h2>
                            <li *ngFor="let skill of frontendSkills" class="text-4xl"><i [class]="skill.icon"></i> {{skill.name}}</li>
                        </ul>
                        <ul class="fontRhodium text-lg pt-2">
                            <h2 class="fontRhodium text-2xl  pt-2  font-medium">Backend:</h2>
                            <li *ngFor="let skill of backendSkills" class="text-4xl">{{skill}}</li>
                        </ul>
                        <ul class="fontRhodium text-lg pt-2">
                            <h2 class="fontRhodium text-2xl  pt-2  font-medium">Otros:</h2>
                            <li *ngFor="let skill of othersSkills" class="text-4xl"> {{skill}}</li>
                        </ul>

                    </div>
                </div>
                <div *ngIf="currentTab === 'tab3'">
                    <h1 class="fontRhodium text-2xl  pt-2  font-semibold">Contacto:</h1>
                    <ul class="fontRhodium text-lg pt-2">
                        <li class="flex items-center"><i class="p-4 far fa-envelope text-4xl"></i>ego.egarco01@gmail.com
                        </li>
                        <li class="flex items-center"><i class="p-4 fas fa-mobile-alt text-4xl"></i>628 06 09 89
                        </li>
                        <li class="flex items-center"><a href="https://www.linkedin.com/in/espego/"><i class="p-4 fab fa-linkedin-in text-4xl"></i>linkedin.com/in/espego</a></li>
                        <li class="flex items-center"><a href="https://github.com/esspego"><i class="p-4 fab fa-github-alt text-4xl"></i>github.com/esspego </a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
