/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
.fontRhodium {
    font-family: 'Rhodium Libre', serif;
}

.irregularform1 {
    clip-path: polygon(53% 0, 94% 26%, 100% 100%, 0 100%, 0 0);
}

.irregularform2 {
    clip-path: polygon(94% 21%, 100% 100%, 0 100%, 0 0);
}

.irregularform3 {
    clip-path: polygon(0 0, 95% 8%, 98% 100%, 3% 95%);
}
